.login-title::before
{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background: linear-gradient(0deg, rgba(133, 163, 207, 0.30) 0%, rgba(133, 163, 207, 0.30) 100%), url(./images/ruthsbookshelf.webp), lightgray 25% / cover no-repeat;
    background-size: 25%;
    
}
.login-title
{
    position: relative;
    height: 200px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 43px;
}
.login-title p
{
    position: relative;
    display: flex;
    width: 340px;
    height: 44px;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.6px;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 4px #5081FF;
}
.login-form
{
    width: 614px;
    height: 440px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #FF2020;
    display: grid;
    gap: 0px;
    align-items: center;
    align-content: space-around;
    justify-content: center;
    justify-items: center;
    margin-bottom: 43px;
}
.login-form p
{
    width: 428px;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
    margin: 16px 0px 16px 0px;
}
.login-form .username-input,
.login-form .password-input
{
    border: none;
    border-bottom: 1px solid;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.2px;
    width: 577px;
    height: 71px;
    flex-shrink: 0;
}
.login-form div
{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login-form div a
{
    color: #4B8DBD;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.2px;
    text-decoration: none;
}
.login-form form
{
    width: 264px;
    height: 63px;
    flex-shrink: 0;
    border-radius: 60px;
    border: 1px solid #000;
}
.login-form form button
{
    width: 264px;
    height: 63px;
    flex-shrink: 0;
    border-radius: 60px;
    border: 1px solid #000;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.2px;
    cursor: pointer;
}
.login-form .sub
{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 250px;
}

.signup-welcome {
    position: relative;
    width: 614px;
    height: 440px;
    border-radius: 10px;
    border: 2px solid #000;
    background-color: #65A3FF;
    display: grid;
    text-align: center;
    align-items: stretch;
    justify-items: center;
  }
  
.signup-welcome:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url(./images/whiteCloud.jpg);
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    border-radius: 10px;
}
.signup-welcome h2,
.signup-welcome p,
.signup-welcome .signup-button
{
    position: relative;
}

.signup-welcome h2
{
    color: #FFF2F2;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.32px;
    margin-top: 60px;
    margin-bottom: 0px;
}

.signup-welcome p
{
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.2px;
}

.signup-welcome .signup-button
{
    width: 264px;
    height: 63px;
    flex-shrink: 0;
    border-radius: 60px;
    border: 2px solid #FFF;
    background: #65A3FF;
    color: #FFF;
    font-family: Noticia Text;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.2px;
    cursor: pointer;
}

.signup-welcome .signup-button
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #FFF;
}

.signup-welcome .signup-button:hover
{
    color: rgba(180, 176, 176);
}

.display-login-form
{
    display: grid;
    grid-template-columns: 614px 614px;
    column-gap: 140px;
    margin: 0px 34px 49px 34px;
    justify-content: space-evenly;
}