.product-in-cart
{
    display: grid;
    grid-template-columns: 600px 150px 120px 150px 50px;
    column-gap: 24px;
    padding: 5px;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    font-size: 14px;
}
.product-in-cart-image
{
    width: 90px;
    aspect-ratio: auto 90 / 120;
    height: 120px;
}
.product-in-cart-name img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.product-in-cart-info
{
    display: grid;
    row-gap: 4px;
}
.product-in-cart-name
{
    display: grid;
    grid-template-columns: 100px 1fr;
    column-gap: 12px;
    -webkit-box-align: center;
    align-items: center;
    width: 600px;
}
.product-in-cart-info p
{
    margin: 5px;
    font-weight: 400;

}
.product-in-cart-quantity form
{
    display: grid;
    grid-template-columns: 30px 50px 30px;
    column-gap: 1px;
    font-size: 14px;
}
.product-in-cart-quantity form button
{
    border: 1.1px solid #000;
    background: none;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    display: flex;
}
.product-in-cart-quantity form input
{
    border: 1.1px solid #000;
    background: #FFFBFB;
    text-align: center;
}
.garbage-dump form .garbage-dump-button
{
    border: none;
    background: none;
    cursor: pointer;
}
.product-in-cart-sum-price
{
    color: #001AFF;
    font-weight: 700;
}
.garbage-dump-button img {
    width: 20px;
    height: 25px;
  }
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
.cart-header
{
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.32px;
}
.cart-header p
{
    margin: 0 16px;
    padding-top: 5;
}
.list-product-in-cart-header
{
    display: grid;
    grid-template-columns: 600px 150px 120px 150px 50px;
    column-gap: 24px;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    /* padding: 8px 16px; */
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    background-color: white;
    height: 30px;
    padding: 5px;
    border-radius: 17px;
}
.list-product-in-cart
{
    background-color: #ffffff00;
    margin: 16px;
    margin-top: 5px;
}
.products-in-cart
{
    height: 390px;
    background-color: white;
    overflow: auto;
    -ms-overflow-style: none;  
    scrollbar-width: none;
    padding: 5px;
    border-radius: 20px;
}
.products-in-cart::-webkit-scrollbar {
    display: none;
  }
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
.other-book
{
    display: flex;
    flex-direction: column;
    width: 750px;
    height: 100%;
    flex-shrink: 0;
    border-radius: 20px;
    align-items: center;
    background-color: #FFF;
}
.other-book-list
{
    display: flex;
    height: 100%;
    column-gap: 5px;
}
.other-book-list .product
{
    width: 175px;
    height: 230px;
    margin: 1px;
}
.other-book-list .product .product-image
{
    width: 100px;
    height: 130px;
}
.other-book-list .product p
{
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 0px;
}
.other-book-header
{
    font-size: 18px;
    font-weight: 700;
}
.other-book .other-book-list .star-voting
{
    width: 7px;
    height: 7px;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
.order-info-title
{
    font-size: 18px;
    font-weight: 700;
    font-style: bold;
}
.order-info div
{
    display: grid;
    grid-template-columns: 100px 300px;
    column-gap: 10px;
    margin-bottom: 10px;
}
.order-info
{
    display: grid;
    width: 440px;
    max-height: 295px;
    border-radius: 20px;
    align-items: center;
    font-size: 18px;
    padding: 5px;
    padding-top: 25px;
    background-color: #FFF;
}
.order-info .order-button
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}
.order-button button
{
    width: 150px;
    height: 40px;
    flex-shrink: 0;
    cursor: pointer;
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.2px;
    border: none;
}
form .adjust-infomation
{
    background: #0500FF;
}
form .adjust-infomation:hover,
form .payment:hover
{
    filter: brightness(90%);
}
form .payment
{
    background: #F00;
}
.custom-name, .custom-address, 
.custom-phone, .total-price
{
    display: grid;
    grid-template-columns: 100px 300px;
    padding-left: 5px;
}
/*///////////////////////////////////////////////////////////////////////////////////////////////*/
.sub-bar
{
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    margin: 0 16px;
    height: 310px;
    justify-content: space-between;
}
.body-gio-hang
{
    height: 800px;
    padding: 5px 0;
}