.OrderTable{
    position: absolute;
    top: 200px;
    left: 320px;
    width: 920px;
    border: 2px solid #ffffff;
    border-collapse: collapse;
    text-align: center;
    background-color: #ffffff;
  }
.OrderTable td{
    height: 100px;
    width: 300px;
}
.OrderTable th{
    height: 30px;
    background-color: #fffbe7;
}
.OrderTable .tableColor{
    background-color: #fffbe7;
}
th, td{
    border: 3px solid #000000;
    border-collapse: collapse;
}

.tableContainer {
    max-height: 350px; 
    overflow: auto; 
  }
.searchbar{
    position:  absolute;
    font-family:'Roboto', sans-serif;
    top: 150px;
    left: 625px;
    font-size: 20px;
    height: 45px;
    width: 255px;
    border-radius: 20px;
    justify-content: space-between;
    /* padding: 10px; */
    /* text-align: */
  }