.dropdown{
    display: flex;
    position: absolute;
    top: 4.5rem;
    right: 1.5rem;
    width: 170px;
    padding: 15px;
    border-radius: 15px;
    background-color: white;
    border: 1px solid gray;
    text-decoration: none;
}
/* .dropdown::before{
    content: '';
    position: absolute;
    top: -2rem;
    width: 25px;
    height: 25px;
    right: 2rem;
    transform: rotate(45deg);
    border-left: 1px solid gray;
    border-top: 1px solid gray;
} */
.dropdowncontent{
    list-style: none;
    /* padding: 5px; */
    /* width: 200%; */
}
a {
    text-decoration: none;
    color: black;
}