footer
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    /* border-top: 1px solid #000000; */
    height: 130px;
}
.list1,
.list2,
.list3
{
    list-style: none;
}
.list1 li,
.list2 li,
.list3 li
{
    margin-bottom: 10px;
}
.grid-table-item a
{
    text-decoration: none;
    color: black;
}
.grid-table-item a:hover
{
    text-decoration: underline;
    color: #474df8;
}
.list2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list2 .grid-table-item
{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}
.list2 .paypal
{
    width: 70px;
    height: 30px;
    flex-shrink: 0;
}
.list2 li img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer div
{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    height: 100%;
}
.grid-table1,
.grid-table2,
.grid-table3
{
    display: grid;
    justify-items: start;
}
.grid-table-heading + ul
{
    margin: 0px;
    padding-inline-start: 0px;
}