footer
{
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
    /* border-top: 1px solid #000000; */
    height: 130px;
    border-top: 0.2px solid rgba(152, 152, 152, 0.4);
    /* background-color:red; */
}
.list1,
.list2,
.list3
{
    list-style: none;
}
.list1 li,
.list2 li,
.list3 li
{
    margin-bottom: 10px;
}
.gridTableItem a
{
    text-decoration: none;
    color: black;
}
.gridTableItem a:hover
{
    text-decoration: underline;
    color: #474df8;
}
.list2
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list2 .gridTableItem
{
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}
.list2 .paypal
{
    width: 70px;
    height: 30px;
    flex-shrink: 0;
}
.list2 li img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer div
{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: nowrap;
    align-content: center;
    height: 100%;
}
.gridTable1,
.gridTable2,
.gridTable3
{
    display: grid;
    justify-items: start;
}
.gridTableHeading + ul
{
    margin: 0px;
    padding-inline-start: 0px;
}