@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar{
    /* position: fixed; */
    left: 0;
    width: 300px;
    height: 700px;
    background: rgba(27, 27, 27, 0.95);
    /* border-right: 1px solid #E5E5E5; */
}
.sidebar ul a{
    transition: all 0.5s ease;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 25px;
    font-size: 24px;
    /* padding-left: 40px; */
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    /* border-to10px5E5E5; */
    /* border-bottom: 1px solid #E5E5E5; */
    /* border-right: 1px solid #E5E5E5; */
}
.sidebar ul li:hover a{
    /* padding-left: 50px; */
    background:#dfdfdfc3;
    transform: matrix(1, 0, 0, 1, 7, 0);
}
.sidebar ul a i{
    margin-right: 16px;
}